In [1]:
print("this is a second notebook")

this is a second notebook

In [2]:
display(spark.sql("select 1"))

DataFrame[1: int]

In [3]:
# Sample data
data = [
    ("Alice", 25, "New York", 50000, "HR"),
    ("Bob", 30, "Los Angeles", 60000, "IT"),
    ("Charlie", 35, "Chicago", 75000, "Finance"),
    ("David", 40, "Houston", 80000, "Marketing"),
    ("Eva", 45, "Phoenix", 90000, "Sales")
]

# Column names
columns = ["Name", "Age", "City", "Salary", "Department"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show DataFrame
display(df)

DataFrame[Name: string, Age: bigint, City: string, Salary: bigint, Department: string]